<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>카드 소비 내역</h2>
    <table border="1">
        <thead>
            <tr>
                <th>날짜</th>
                <th>카테고리</th>
                <th>가맹점</th>
                <th>금액</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
            <tr>
                <td>{{row.date}}</td>
                <td>{{row.category}}</td>
                <td>{{row.merchant}}</td>
                <td>{{row.amount}}</td>                
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>